<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main_base.css">
        <!-- Grab title from the page data and dump it here -->
        <title>{{ tag | slugify }}</title>
    </head>
    <body>
        <nav>{% include 'partials/navigation.njk' %}</nav>
        {{ content | safe }}
    </body>
</html>