:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /*other crap*/
  --bgprimary: #0c0c0c;
  --colprimary: #faebd7;
  --bgsecondary: #faebd7;

  --linkprimary: #d25807;
}

* {
  box-sizing: border-box;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--bgprimary);
  color: var(--colprimary);
  margin: 0px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

body > header {
  text-align: center;
  padding: 0 0.5rem 2rem 0.5rem;
  box-sizing: border-box;
}

nav {
  /* position: absolute; */
  /*background-color: rgba(250, 235, 215, 0.8);
    border-bottom: 2px solid #0c0c0ca7;*/
  background-color: var(--bgsecondary);
  padding: 10px;
  margin: 0 !important;
  width: 100%;
  position: sticky;
  top: 0%;
  left: 0%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a + a {
  margin-left: 10px;
}

main {
  border: 1px solid;
  padding: 20px;
  max-width: 50%;
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
}

/*footer {
  align-self: center;
  background: red;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}*/

a {
  font-weight: 800;
  text-decoration: underline;
  color: var(--linkprimary);
}

h1 {
  font-size: 3rem;
  margin-top: 0px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

li {
  margin: 2em 0;
}

/*thumbnail stuff*/

.post_list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.post_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0px;
  padding: 0px;
}

.post_container {
  display: flex;
  flex-direction: column;
  background: #323232;
  width: 30%;
  padding: 16px;
}

img {
  max-width: 100%;
}

.artwork-art {
  max-width: 100%;
  align-self: center;
  display: flex;
  margin: 0 auto;
}

article {
  /*background: blue;*/
  width: 100%;
  margin: 0;
}

.cluster {
  align-self: start;
}

blockquote {
  border-left: 4px solid rgba(255, 255, 255, 0.4);
  padding-left: 10px;
}

code {
  background: #000;
  padding: 10px;
  border: 1px solid #941500;
  font-size: 0.8rem;
}

/*MOBILE STUFF*/
@media screen and (max-width: 599px) {
  main {
    max-width: 100%;
    width: 95%;
  }
}

/*TABLET STUFF*/
@media screen and (min-width: 600px) and (max-width: 900px) {
  main {
    max-width: 100%;
    width: 80%;
  }
}

/*Motorola RAZR V3m*/
@media screen and (max-width: 176px) {
  body {
    font-size: 0.8rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.85rem;
  }

  main {
    width: 100%;
    border: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }
}
